.img {
  width: 100%;
  height: auto;
  background: wheat;
  display: flex;
  justify-content: center;
  margin: 0px auto 70px;
}

.Box-Caixa {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  padding: 10px;
  gap: 15px;
}
